<h1>Triangle Tester</h1>

<form action="triangle_output" method="post">
  <div class="form-group">
    <label for="side1">Enter a value for side 1</label>
    <input type="text" name="side1" class="form-control">
  </div>
  <div class="form-group">
    <label for="side2">Enter a value for side 2</label>
    <input type="text" name="side2" class="form-control">
  </div>
  <div class="form-group">
    <label for="side3">Enter a value for side 3</label>
    <input type="text" name="side3" class="form-control">
  </div>
  <button type="submit" name="button" class="btn">Submit</button>
</form>
