<h1>Triangle Type: <%=@output_triangle%></h1>
<h3>Side 1: <%= @user_triangle.side1 %></h3>
<h3>Side 2: <%= @user_triangle.side2 %></h3>
<h3>Side 3: <%= @user_triangle.side3 %></h3>

<form action="/triangle_input">
  <button type="submit" class="btn" name="button">Test Again</button>
</form>
